<div class="main-div container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Contact <span style="color: #4ac0af;">Me</span></h3>
      <p style="color: rgb(170, 170, 170)">Get in Touch</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 mb-5">
      <div class="row mt-3 mb-3 d-flex justify-content-center">
        <div class="col-md-8">
          <h5>
            <i class="fa-solid fa-phone"></i>
            <span class="ms-3">Call me</span>
          </h5>
          <span class="ms-4" style="color: rgb(170, 170, 170);">+917302207232</span>
        </div>
      </div>
      <div class="row mb-3 d-flex justify-content-center">
        <div class="col-md-8">
          <h5>
            <i class="fa-solid fa-envelope"></i>
            <span class="ms-3">Email</span>
          </h5>
          <span class="ms-4" style="color: rgb(170, 170, 170); word-break: break-all;">kunalg02092001@gmail.com</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h5>
            <i class="fa-solid fa-location-dot"></i>
            <span class="ms-3">Location</span>
          </h5>
          <span class="ms-4" style="color: rgb(170, 170, 170);">Jaipur, Rajasthan, Pincode - 302029</span>
        </div>
      </div>
    </div>
    <div [formGroup]="contactFormGroup" class="col-md-6">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Name<span class=" text-danger">*</span></label><br>
          <input formControlName="name" type="text">
          <small class="text-danger" *ngIf="getRequiredError('name')">Name is Required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Email <span class="text-danger">*</span></label>
          <input type="email" formControlName="email">
          <small class="text-danger" *ngIf="getRequiredError('email')">Email is Required</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label">Project <span class="text-danger">*</span></label>
          <input type="text" formControlName="project">
          <small class="text-danger" *ngIf="getRequiredError('project')">Project name is Required</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label">Message <span class="text-danger">*</span></label><br>
          <textarea rows="5" type="text" formControlName="message"></textarea>
          <small class="text-danger" *ngIf="getRequiredError('message')">Message is Required</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button (click)="onSubmit()">Send Message
            <i style="color: white; font-size: 1.2rem;" class="fa-solid fa-share-from-square ms-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
