i {
  color: rgb(156, 87, 224);
  font-size: 1.7rem;
}

h4 {
  font-weight: 500;
}

button {
  border: none;
  outline: none;
  background-color: rgb(156, 87, 224);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}
input{
  border: none;
  outline: none;
  width: 100%;
  background-color: rgb(245, 238, 252);
  padding: 0.7rem;
}
input:focus{
  border: none;
  outline: none;
  background-color: rgb(245, 238, 252);
}
textarea{
  border: none;
  outline: none;
  width: 100%;
  background-color: rgb(245, 238, 252);
  padding: 0.7rem;
}
textarea:focus{
  border: none;
  outline: none;
  width: 100%;
  background-color: rgb(245, 238, 252);
  padding: 0.7rem;

}
