<div class="main-div container-fluid mt-4 mb-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Contact <span style="color: #4ac0af;">Me</span></h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      <div class="user-info-div ms-5 pt-5">
        <div class="email-info-div d-flex">
          <div class="email-icon ms-5 me-2">
            <span style="font-size: 2rem;">
              <i class="fa-solid fa-envelope"></i>
            </span>
          </div>
          <div class="email">
            <h3>Email</h3>
            <p>kunalg02092001@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="user-info-div ms-5 pt-5">
        <div class="email-info-div d-flex">
          <div class="email-icon ms-5 me-2">
            <span style="font-size: 2rem;">
              <i class="fa-solid fa-phone"></i>
            </span>
          </div>
          <div class="email">
            <h3>Phone</h3>
            <p>+91 - 7302207232</p>
          </div>
        </div>
      </div>
    </div>
    <div [formGroup]="contactFormGroup" class="col-md-7 pe-5">
      <div class="row">
        <div class="col-md-6 pt-5">
          <input formControlName="name" type="text" placeholder="Your Name">
          <small class="text-danger" *ngIf="getRequiredError('name')">Please inform your Name...</small>
        </div>
        <div class="col-md-6 pt-5">
          <input formControlName="email" type="email" placeholder="Your Email">
          <small class="text-danger" *ngIf="getRequiredError('email')">Please inform your Email...</small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <input formControlName="subject" type="text" placeholder="Subject">
          <small class="text-danger" *ngIf="getRequiredError('subject')">Please inform Subject...</small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <textarea rows="5" formControlName="description" placeholder="Enter Your Message"></textarea>
          <small class="text-danger" *ngIf="getRequiredError('description')">Please inform Description...</small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <button class="btn btn-dark" (click)="onSubmit()">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
