<!-- About me -->
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h3>About <span style="color: #4ac0af;">Me</span></h3>
    </div>
    <div class="col-md-12 text-center">
      <p style="color: rgb(170, 170, 170); font-size: 1rem;">My Introduction</p>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img style="border-radius: 0.5rem;" width="500" src="https://kumarsaurav-ks.web.app/assets/img/4884785.jpg"
        class="img-fluid mt-5">
    </div>
    <div class="col-md-6 p-5">
      <div class="row">
        <div class="col-md-9 d-flex justify-content-center">
          <h5 class="about-text" style="color: hsl(-450,8%,45%);">Frontend developer, with extensive knowledge and
            experience, working with
            the latest technologies for
            website development and delivering quality work.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <h3 style="font-weight: 700;">01+</h3>
          <p class="m-0 ft-size" style="color: hsl(-450,8%,45%);">Years</p>
          <p class="ft-size" style="color: hsl(-450,8%,45%);">experience</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 style="font-weight: 700;">05+</h3>
          <p class="m-0 ft-size" style="color: hsl(-450,8%,45%);">Completed</p>
          <p class="ft-size" style="color: hsl(-450,8%,45%);">project</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 style="font-weight: 700;">02+</h3>
          <p class="m-0 ft-size" style="color: hsl(-450,8%,45%);">Companies</p>
          <p class="ft-size" style="color: hsl(-450,8%,45%);">worked</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-3 btn-div">
          <a class="download" download href="#">Download CV
            <i class="fa-solid fa-download ms-2 mt-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- skills -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 style="font-weight: 700;">Skills</h3>
    </div>
    <div class="col-md-12 text-center">
      <p style="color: rgb(170, 170, 170); font-size: 1rem;">My technical level</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-5 d-flex justify-content-center">
      <div class="frontend-skills">
        <div class="skills-div d-flex">
          <div class="symbol-div">
            <p style="color: hsl(-450,69%,61%); font-size: 2.5rem;"><i class="fa-solid fa-code"></i></p>
          </div>
          <div class="skill-name ms-3 me-5" style="max-width: 50%;">
            <h6 class="ps-1 pt-3" style="font-weight: 700;">Frontend Skills</h6>
          </div>
          <div *ngIf="icon1" class="icon ms-5">
            <p (click)="toggleIcon1()" style="color: hsl(-450,69%,61%); font-size: 1.5rem;"><i
                class="fa-solid fa-angle-up mt-4"></i></p>
          </div>
          <div *ngIf="!icon1" class="icon ms-5">
            <p (click)="toggleIcon1()" style="color: hsl(-450,69%,61%); font-size: 1.5rem;"><i
                class="fa-solid fa-angle-down mt-4"></i></p>
          </div>
        </div>

        <div [ngStyle]="{'display' : icon1 ? 'block' : 'none' }" class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h6>Angular</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>70%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Success example" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>React</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>60%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Javascript</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>80%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Warning example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Typescript</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>60%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Danger example" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>HTML</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>90%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Danger example" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 90%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>CSS</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>70%</p>
              </div>
            </div>
            <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0"
              aria-valuemax="100">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="col-md-6 p-5 d-flex justify-content-center">
      <div class="Other-skills">
        <div class="skills-div d-flex">
          <div class="symbol-div">
            <p style="color: hsl(-450,69%,61%); font-size: 2.5rem;"><i class="fa-solid fa-code"></i></p>
          </div>
          <div class="skill-name ms-3 me-5" style="max-width: 50%;">
            <h6 class="ps-1 pt-3" style="font-weight: 700;">Others Skills</h6>
          </div>
          <div *ngIf="icon1" class="icon ms-5">
            <p (click)="toggleIcon2()" style="color: hsl(-450,69%,61%); font-size: 1.5rem;"><i
                class="fa-solid fa-angle-down mt-4"></i></p>
          </div>
          <div *ngIf="!icon1" class="icon ms-5">
            <p (click)="toggleIcon2()" style="color: hsl(-450,69%,61%); font-size: 1.5rem;"><i
                class="fa-solid fa-angle-up mt-4"></i></p>
          </div>
        </div>

        <div [ngStyle]="{'display' : icon2 ? 'block' : 'none' }" class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h6>Git</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>70%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Success example" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Networking</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>60%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>C,C++</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>80%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Warning example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 80%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>C#</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>60%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Danger example" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>SQL</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>90%</p>
              </div>
            </div>
            <div class="progress mb-4" role="progressbar" aria-label="Danger example" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 90%"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Azure Services</h6>
              </div>
              <div class="col-md-6 text-end">
                <p>70%</p>
              </div>
            </div>
            <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0"
              aria-valuemax="100">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-qualification></app-qualification>
