<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1>About <span style="color: #4ac0af;">Me</span></h1>
    </div>
  </div>

  <div style="margin-top: 6rem;" class="row">
    <div class="col-md-6 mb-3" style="border-right: 1px solid #eee;">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ps-5 ms-4">Work Experience</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">Celebal Technologies , Jaipur</h5>
          <h6 class="ps-5 ms-4">- Associate Angular Developer</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">CodeStore Technologies , Noida</h5>
          <h6 class="ps-5 ms-4">- Trainee Software Engineer</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">Rezolve AI , Dehradun</h5>
          <h6 class="ps-5 ms-4">- Product Support Engineer (Intern)</h6>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ps-5 ms-4">Education</h2>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">BTECH C.S.E</h5>
          <h6 class="ps-5 ms-4">- ICFAI UNVERSITY , Dehradun 9.14 C.G.P.A</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">Higher Secondary School</h5>
          <h6 class="ps-5 ms-4">- School Of Creative Learning , Patna</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="ps-5 ms-4">Secondary School</h5>
          <h6 class="ps-5 ms-4">- Galaxy Residental Public School , Chhapra</h6>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-5 row">
    <div class="col-md-12 text-center">
      <h1>My <span style="color: #4ac0af;">Skills</span></h1>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h5 class="ms-5">&#183; Angular
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; React
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; TypeScript
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h5 class="ms-5">&#183; JavaScript
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; Java
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; HTML
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h5 class="ms-5">&#183; CSS
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; BootStrap
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; C,C++
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h5 class="ms-5">&#183; Git
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; Networking
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5 class="ms-5">&#183; Material UI
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid hire-me  mt-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Do You Have Any Project?</h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <h1>I'am ready to Work Hire me.</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <button>Hire Me</button>
    </div>
  </div>
</div>
