<div style="border-top: 1px solid #eee;" class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1>About <span style="color: #4ac0af;">Me</span></h1>
    </div>
  </div>

  <div style="margin-top: 6rem;" class="row">
    <div class="col-md-6" style="border-right: 1px solid #eee;">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ps-5 ms-4">Work Experience</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">Celebal Technologies , Jaipur (15-07-2022 to Present)</h4>
          <h6 class="ps-5 ms-4">- Associate Angular Developer</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">CodeStore Technologies , Noida (10-01-2022 to 15-06-2022)</h4>
          <h6 class="ps-5 ms-4">- Trainee Software Engineer</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">Rezolve AI , Dehradun (10-11-2021 to 10-12-2021)</h4>
          <h6 class="ps-5 ms-4">- Product Support Engineer (Intern)</h6>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ps-5 ms-4">Education</h2>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">BTECH C.S.E (2018 to 2022)</h4>
          <h6 class="ps-5 ms-4">- ICFAI UNVERSITY , Dehradun 9.14 C.G.P.A</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">Higher Secoandry School(2016 to 2018)</h4>
          <h6 class="ps-5 ms-4">- School Of Creative Learning , Patna</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <h4 class="ps-5 ms-4">Secoandry School(2015 to 2016)</h4>
          <h6 class="ps-5 ms-4">- Galaxy Residental Public School , Chhapra</h6>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-5 row">
    <div class="col-md-12 text-center">
      <h2>Skills</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <h3 class="ps-5 ms-4">&#183; Angular
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; React
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; TypeScript
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; JavaScript
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <h3 class="ps-5 ms-4">&#183; Java
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; HTML
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; CSS
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
      <div class="col-md-3">
        <h3 class="ms-4">&#183; BootStrap
          <span class="fa fa-star checked ms-3"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <h3 class="ps-5 ms-4">&#183; C,C++
        <span class="fa fa-star checked ms-3"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </h3>
    </div>
    <div class="col-md-3">
      <h3 class="ms-4">&#183; Git
        <span class="fa fa-star checked ms-3"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </h3>
    </div>
    <div class="col-md-3">
      <h3 class="ms-4">&#183; Networking
        <span class="fa fa-star checked ms-3"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </h3>
    </div>
    <div class="col-md-3">
      <h3 class="ms-4">&#183; Material UI
        <span class="fa fa-star checked ms-3"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </h3>
    </div>
  </div>
</div>
