<section class="footer container-fluid pt-2 mt-3">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h3 style="color: rgb(170, 170, 170);">Kunal Gupta</h3>
      <h5 style="color: rgb(170, 170, 170);">Software Developer</h5>
    </div>
  </div>

  <div class="mt-5" style="border-top: 5px solid grey"></div>

  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <h5 class="mb-2" style="color: rgb(170, 170, 170);">Jaipur India &copy; 2023</h5>
      <h6 style="color: rgb(170, 170, 170);">{{date| date: 'medium'}}</h6>
    </div>
  </div>
</section>
