<section class="footer container-fluid pt-2 mt-3">
  <div class="row mt-5">
    <div class="col-md-5 text-center">
      <h5 style="color: #000">Kunal Gupta</h5>
      <h6 style="color: rgb(170, 170, 170);">Software Developer</h6>
    </div>
    <div class="col-md-7 text-center">
      <h5 class="mb-2" style="color: #000">Jaipur India &copy; 2023</h5>
      <h6 style="color: rgb(170, 170, 170);">{{date| date: 'medium'}}</h6>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <button title="instagram" class="instagram socials-icons p-2 me-3">
        <i style="color : #bc2a8d;" class="fa-brands fa-instagram"></i>
      </button>
      <button title="facebook" class="facebook socials-icons p-2 me-3">
        <i style="color:rgb(59, 89, 152)" class="fa-brands fa-square-facebook"></i>
      </button>
      <button title="snapchat" class="snapchat socials-icons p-2 me-3">
        <i style="color:#FFFC00" class="fa-brands fa-square-snapchat"></i>
      </button>
      <button title="linkedin" class="linkedin socials-icons p-2">
        <i style="color:rgb(0, 119, 181)" class="fa-brands fa-linkedin"></i>
      </button>
    </div>
    <div class="col-md-12 text-center">
      <p style="color: #ddd">© kunalgupta. All right reserved</p>
    </div>
  </div>
</section>
