<div class="home-div">
  <div class="container-fluid ps-5 pt-5 pe-5 pb-2">
    <div class="row ps-5 pt-5 pe-5 pb-2">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2 class="my-text mt-3">Hello, I'm Kunal Gupta</h2>
            <h3 style="transition: all 0.6s ease;">{{textToRender}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="about-me">Experienced software engineer with a passion for developing innovative programs that
              expedite the
              efficiency and effectiveness of organizational success. Well-versed in technology and writing code to
              create
              systems that are reliable and user-friendly.Skilled leader who has the proven ability to motivate,
              educate, andmanage a team of professionals to build software programs and effectively track changes.
              Confident communicator, strategic thinker,and innovative creator to develop software that is customized
              to meet a company’s organizational needs, highlight their core competencies,and further their success.</p>
            <button class="talk-btn mb-3">Let's Talk</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 image-div">
        <img src="assets/images/pic3.jpg" class="img-fluid">
        <h3 style="text-align: center;" class="mt-2">Kunal Gupta</h3>
      </div>
    </div>
  </div>

</div>
