.card {
  background-color: #1b1b20;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.6);
  color: #fff;
  width: 28rem;
  padding: 0.8rem;
  height: 100%;
}
.card:hover{
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: background 0.8s ease;
}
