<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h3>My <span style="color: #4ac0af;">Projects</span></h3>
      <p style="color: rgb(170,170,170)">Most recent Work</p>
    </div>
  </div>

  <div style="margin-left: 2rem;" class="projects-cards mt-5">
    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let data of cardData" carouselSlide>
        <div class="card">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <img width="20" [src]="data.image_url" class="img-fluid">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <h6>{{data.project_name}}</h6>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <span>{{data.project_description}}</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-dark">{{data.btn_text}}</button>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="hire-me-div">
    <div class="flex-div ps-5 pe-5 pt-5 pb-3 d-flex">
      <div class="text-div d-flex justify-content-center align-items-center flex-column" style="min-width: 50%">
        <h5 style="font-weight: 600;">You have a new project</h5>
        <h6>Contact me now and get a 40% discount.</h6>
        <a class="contact">Contact me
          <i class="fa-solid fa-share-from-square ms-1"></i>
        </a>
      </div>
      <div class="image-div">
        <img width="450"
          src="https://kumarsaurav-ks.web.app/assets/img/Web-development,-programmer-engineering-and-coding-website-on-augmented-reality-interface-screens-on-transparent-background-PNG.png"
          class="img-fluid">
      </div>
    </div>
  </div>
</div>
