<section class="header-div">
  <div class="logo-div">
    <p class="brand-text">
      <span class="title">The</span>
      Kunal
    </p>
  </div>
  <div class="navigation-div">
    <ul>
      <li><a class="me-3 mt-3 p-2" href="#home">Home</a></li>
      <li><a class="me-3 mt-3 p-2" href="#about">About</a></li>
      <li><a class="me-3 mt-3 p-2" href="#projects">Projects</a></li>
      <li><a class="me-3 mt-3 p-2" href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="toggle-bar">
    <button (click)="openNav()">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
  </div>
</section>

<section id="home" class="home-div pt-5">
  <app-home></app-home>
</section>

<section id="about" class="about">
  <app-about-me></app-about-me>
</section>

<section id="projects" class="projects">
  <app-projects></app-projects>
</section>

<section id="contact" class="footer">
  <app-footer></app-footer>
</section>


<!--Scroll to top button -->
<button title="Go To Top" (click)="topFunction()" [ngClass]="getClass()" title="Go to top"><svg
    xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
  </svg>
</button>


<!-- full screen overlay-->
<div [ngClass]="getOverLayClass()" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <li><a (click)="closeNav()" class="me-3 mt-3 p-2" href="#home">Home</a></li>
    <li><a (click)="closeNav()" class="me-3 mt-3 p-2" href="#about">About</a></li>
    <li><a (click)="closeNav()" class="me-3 mt-3 p-2" href="#projects">Projects</a></li>
    <li><a (click)="closeNav()" class="me-3 mt-3 p-2" href="#contact">Contact</a></li>
  </div>
</div>
