@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  // word-break: break-all;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #ddd;
}

.owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.owl-prev {
  background: #4ac0af;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 5px 18px;
  margin-right: 1rem;
  position: absolute;
  bottom: 50%;
  left: -32px;
}

.owl-next {
  background: black;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 5px 18px;
  position: absolute;
  bottom: 50%;
  right: 0;
}

.progress {
  --bs-progress-height: 0.5rem !important;
}
